@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="main">
    <div class="head-text">
        <h2>Welcome to Room Booking Portal</h2>
        <img src="https://digital.ihg.com/is/image/ihg/hi-offers-hero-LVP-1440X720" class="img-fluid" alt="Responsive image">
    </div>

</section>